.company-information {
  background-color: $color-light-blue;
}

.company-information__wrapper {
  max-width: 1440px;
  padding: 118px 6.9444444444% 120px;
  margin: 0 auto;

  @media (min-width: 1440px) {
    padding-left: 100px;
    padding-right: 100px;
  }

  @media (max-width: 1300px) {
    padding-left: 5%;
    padding-right: 5%;
  }

  @include vp-1199 {
    padding: 99px 45px 100px 45px;
  }

  @include vp-767 {
    padding: 70px 15px 67px;
  }
}

.company-information__contacts-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: $color-default-white;
    opacity: 0.2;
    margin-top: 31px;
    margin-bottom: 40px;

    @include vp-1199 {
      margin-top: 25px;
      margin-bottom: 30px;
    }

    @include vp-767 {
      margin-top: 10px;
      margin-bottom: 30px;
    }
  }

  @include vp-767 {
    flex-direction: column;
  }
}

.company-information__contacts-wrapper h2 {
  margin: 0;
  padding: 0;
  padding-top: 6px;
  color: $color-default-white;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  max-width: 500px;
  word-break: break-all;

  @include vp-1199 {
    max-width: 100%;
    padding: 0;
    margin-bottom: 29px;
    font-size: 34px;
    line-height: 50px;
  }

  @include vp-767 {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 20px; /* 100% */
  }
}

.company-information__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 604px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;

  @include vp-1199 {
    max-width: unset;
  }

  @include vp-767 {
    flex-direction: column;
  }
}

.company-information__list-item {
  margin: 0;
  padding: 0;
  max-width: 268px;

  @include vp-767 {
    margin-bottom: 14px;
    max-width: 100%;
  }
}

.company-information__list-item span {
  display: block;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  color: rgba(240, 239, 233, 1);
  opacity: 0.8;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px; /* 100% */
  letter-spacing: 0.12px;
  text-transform: uppercase;

  @include vp-1199 {
    margin-bottom: 19px;
  }

  @include vp-767 {
    margin-bottom: 8px;
  }
}

.company-information__list-item p {
  margin: 0;
  padding: 0;
  color: $color-default-white;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;

  @include vp-1199 {
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 14px;
  }
}

.company-information__list-item a {
  margin: 0;
  padding: 0;
  color: $color-default-white;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  cursor: pointer;
  max-width: 200px;
  display: block;

  @include vp-1199 {
    line-height: 20px;
  }

  @include vp-767 {
    max-width: unset;
    font-size: 14px;
  }
}

.company-information__map {
  height: 500px;
  width: 100%;
  border-radius: 16px;

  @include vp-767 {
    height: 240px;
  }
}


.company-information__map-icon {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;

  @include vp-767 {
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
  }
}
