.faq {
  padding: 60px 6.9444444444% 60px;

  @media (min-width: 1440px) {
    padding-left: 100px;
    padding-right: 100px;
  }

  @media (max-width: 1300px) {
    padding-left: 5%;
    padding-right: 5%;
  }

  @include vp-1199 {
    padding: 100px 45px 97px;
  }

  @include vp-767 {
    padding: 70px 15px 70px;
  }
}

.faq__wrapper {
  margin: 0 auto;
  max-width: 1028px;
}

.faq h2 {
  margin: 0;
  margin-bottom: 67px;
  padding: 0;
  color: $color-light-blue;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;

  @include vp-1199 {
    font-size: 34px;
    text-align: center;
    margin-bottom: 42px;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 33px;
  }
}

.faq__accordion {
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 10px;
}

.faq__accordion-element {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 16px;

  &.is-active {
    opacity: 1;
    background-color: $color-light-blue;
    padding-bottom: 33px;
  }

  @include vp-1199 {

    &.is-active {
      padding-bottom: 26px;
    }
  }

  @include vp-767 {

    &.is-active {
      padding-bottom: 15px;
    }
  }
}

.faq__accordion-button {
  padding: 0;
  padding: 32px 39px 32px 39px;
  margin: 0;
  transition: .3s;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 16px;
  border: 1px solid $color-light-blue;
  position: relative;
  min-height: 120px;

  &:hover {
    background-color: $color-default-white;
  }

  &:focus-visible {
    outline: none;
    background-color: $color-default-white;
  }

  &:active {
    background-color: $color-default-white;
  }

  @include vp-1199 {
    padding: 24px 29px 24px;
    min-height: 100px;
  }

  @include vp-767 {
    min-height: 80px;
    padding: 19px 14px 19px 14px;
  }
}

.faq__accordion-element.is-active .faq__accordion-button {
  transition: 0s;
  padding-top: 41px;
  padding-bottom: 16px;
  min-height: 70px;

  @include vp-1199 {
    padding-top: 34px;
    padding-bottom: 23px;
  }

  @include vp-767 {
    padding-top: 22px;
    padding-bottom: 15px;
  }

  &:hover {
    background-color: $color-light-blue;
    padding-top: 40px;
    padding-bottom: 15px;
    padding-left: 38px;
    padding-right: 38px;
    transition: 0s;

    @include vp-1199 {
      padding-top: 33px;
      padding-bottom: 22px;
      padding-left: 28px;
      padding-right: 28px;
    }

    @include vp-767 {
      padding-top: 21px;
      padding-bottom: 14px;
      padding-left: 13px;
      padding-right: 13px;
    }
  }

  &:focus-visible {
    outline: none;
    background-color: $color-light-blue;
    padding-top: 40px;
    padding-bottom: 15px;
    padding-left: 38px;
    padding-right: 38px;
    transition: 0s;

    @include vp-1199 {
      padding-top: 33px;
      padding-bottom: 22px;
      padding-left: 28px;
      padding-right: 28px;
    }

    @include vp-767 {
      padding-top: 21px;
      padding-bottom: 14px;
      padding-left: 13px;
      padding-right: 13px;
    }
  }

  &:active {
    background-color: #275699;
    border: none;
    transition: 0s;
    padding-top: 41px;
    padding-bottom: 16px;
    padding-left: 39px;
    padding-right: 39px;
    border: 1px solid transparent;

    @include vp-1199 {
      padding-top: 34px;
      padding-bottom: 23px;
      padding-left: 29px;
      padding-right: 29px;
    }

    @include vp-767 {
      padding-top: 22px;
      padding-bottom: 15px;
      padding-left: 14px;
      padding-right: 14px;
    }
  }
}

.faq__accordion-button span {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid transparent;
  position: relative;
  background-color: $color-light-blue;
  position: absolute;
  right: 40px;
  top: 40px;

  &::before {
    content: "";
    position: absolute;
    top: 18px;
    left: 10px;
    height: 1px;
    width: 18px;
    background-color: $color-default-white;
  }

  &::after {
    content: "";
    position: absolute;
    top: 18px;
    left: 10px;
    width: 18px;
    height: 1px;
    background-color: $color-default-white;
    transform: rotate(90deg);
  }

  @include vp-1199 {
    right: 29px;
    top: 28px;
  }

  @include vp-767 {
    right: 14px;
    top: 20px;
  }
}

.faq__accordion-button:disabled span {
  border: 1px solid rgba(28, 51, 116, 0.3);
}

.faq__accordion-button:hover span {
  background-color: transparent;
  border: 1px solid $color-light-blue;
}

.faq__accordion-button:focus-visible span {
  outline: none;
  background-color: transparent;
  border: 1px solid $color-light-blue;
}

.faq__accordion-button:active span {
  background-color: rgba(39, 86, 153, 1);
  border: 1px solid rgba(39, 86, 153, 1);
}

.faq__accordion-button:disabled span::before {
  opacity: 0.3;
}

.faq__accordion-button:disabled span::after {
  opacity: 0.3;
}

.faq__accordion-button:hover span::before {
  background-color: $color-light-blue;
}

.faq__accordion-button:hover span::after {
  background-color: $color-light-blue;
}

.faq__accordion-button:focus-visible span::after {
  outline: none;
  background-color: $color-light-blue;
}

.faq__accordion-button:focus-visible span::before {
  outline: none;
  background-color: $color-light-blue;
}

.faq__accordion-button:active span::before {
  background-color: $color-default-white;
}

.faq__accordion-button:active span::after {
  background-color: $color-default-white;
}

.faq__accordion-element.is-active span {
  background-color: $color-default-white;

  &::before {
    background-color: $color-light-blue;
  }
}

.faq__accordion-element.is-active .faq__accordion-button:hover span {
  background-color: transparent;
  border: 1px solid $color-default-white;


  &::before {
    background-color: $color-default-white;
  }
}

.faq__accordion-element.is-active .faq__accordion-button:focus-visible span {
  background-color: transparent;
  border: 1px solid $color-default-white;


  &::before {
    background-color: $color-default-white;
  }
}

.faq__accordion-element.is-active .faq__accordion-button:active span {
  background-color: $color-default-white;
  border: 1px solid $color-default-white;


  &::before {
    background-color: #275699;
  }
}

.faq__accordion-element.is-active span::after {
  display: none;
}

.faq__accordion-element h3 {
  margin: 0;
  padding: 0;
  color: $color-light-blue;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  transition: .3s;
  max-width: 678px;
  text-align: left;
  text-transform: none;

  @include vp-1199 {
    font-size: 22px;
    line-height: 26px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 18px;
    max-width: 188px;
  }
}

.faq__accordion-button:active h3 {
  color: #275699;
}

.faq__accordion-element.is-active h3 {
  transition: .3s;
  color: $color-default-white;

  @include vp-1199 {
  }

  @include vp-767 {
  }
}

.faq__accordion-button br {
  @include vp-767 {
    display: none;
  }
}

.faq__accordion-wrapper {
  margin: 0;
  padding: 0;
}

.faq__accordion-wrapper p {
  margin: 0;
  padding: 0;
  color:  rgba(240, 239, 233, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  max-width: 715px;
  padding: 0 40px;

  @include vp-1199 {
    padding: 0 30px;
    max-width: 600px;
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 14px;
    padding: 0 15px;
  }
}

.faq__accordion-element.is-active:has(.faq__accordion-button:hover) {
  border: 1px solid $color-default-white;
  transition: 0s;

  @include vp-1199 {
    padding-bottom: 25px;
  }

  @include vp-767 {
    padding-bottom: 15px;
  }

  & p {
    padding-top: 1px;
    padding-left: 39px;
    padding-right: 39px;

    @include vp-1199 {
      padding: 1px 29px 0;
    }

    @include vp-767 {
      padding: 1px 14px 0;
    }
  }
}

.faq__accordion-element.is-active:has(.faq__accordion-button:active) {
  background-color: #275699;
  border: none;
  transition: 0s;

  @include vp-1199 {
    padding-bottom: 26px;
  }

  @include vp-767 {
    padding-bottom: 15px;
  }

  & p {
    padding-top: 0px;
    padding-left: 40px;
    padding-right: 40px;

    @include vp-1199 {
      padding: 0 30px 0;
    }

    @include vp-767 {
      padding: 0 15px 0;
    }
  }
}
