.general-button {
  display: grid;
  grid-template-columns: 1fr 46px;
  gap: 29px;
  padding: 3px 3px 3px 29px;
  align-items: center;
  border: 1px solid $color-light-blue;
  border-radius: 30px;
  word-break: break-all;
  user-select: none;

  @include vp-767 {
    padding: 3px 3px 3px 19px;
    gap: 19px;
    width: 100%;
    grid-template-columns: 1fr 34px;
  }
}

.general-button span {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  color: $color-light-blue;
  max-width: 280px;

  @include vp-767 {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.24px;
  }
}

.general-button__icon-wrapper {
  width: 46px;
  height: 46px;
  background-color: $color-light-blue;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  @include vp-767 {
    width: 34px;
    height: 34px;
  }
}

.general-button__icon {
  stroke: $color-default-white;
}
