.hero__swiper-slide {
  height: initial;
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(49, 109, 194, 0.2);
    position: absolute;
    z-index: 1;
    top: 0;
  }
}

.hero__swiper-content {
  padding: 0 100px 60px;
  position: relative;
  background-repeat: no-repeat;
  background-color: rgba(2, 102, 193, 1);
  object-fit: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 800px;
  align-items: end;
  display: flex;

  @include vp-1199 {
    padding: 0 45px 60px;
    min-height: 1024px;
  }

  @include vp-767 {
    padding: 0 15px 20px;
    min-height: 568px;
  }
}

.hero__swiper-content--first {
  background-image: url("../img/hero/hero-background-first-desktop.jpg");

  @include retina {
    background-image: url("../img/hero/hero-background-first-desktop@2x.jpg");
  }

  @include vp-1199 {
    background-image: url("../img/hero/hero-background-first-tablet.jpg");

    @include retina {
      background-image: url("../img/hero/hero-background-first-tablet@2x.jpg");
    }
  }

  @include vp-767 {
    background-image: url("../img/hero/hero-background-first-mobile.jpg");

    @include retina {
      background-image: url("../img/hero/hero-background-first-mobile@2x.jpg");
    }
  }
}

.hero__swiper-content--second {
  background-image: url("../img/hero/hero-background-second-desktop.jpg");

  @include retina {
    background-image: url("../img/hero/hero-background-second-desktop@2x.jpg");
  }

  @include vp-1199 {
    background-image: url("../img/hero/hero-background-second-tablet.jpg");

    @include retina {
      background-image: url("../img/hero/hero-background-second-tablet@2x.jpg");
    }
  }

  @include vp-767 {
    background-image: url("../img/hero/hero-background-second-mobile.jpg");

    @include retina {
      background-image: url("../img/hero/hero-background-second-mobile@2x.jpg");
    }
  }
}

.hero__swiper-content--third {
  background-image: url("../img/hero/hero-background-third-desktop.jpg");

  @include retina {
    background-image: url("../img/hero/hero-background-third-desktop@2x.jpg");
  }

  @include vp-1199 {
    background-image: url("../img/hero/hero-background-third-tablet.jpg");

    @include retina {
      background-image: url("../img/hero/hero-background-third-tablet@2x.jpg");
    }
  }

  @include vp-767 {
    background-image: url("../img/hero/hero-background-third-mobile.jpg");

    @include retina {
      background-image: url("../img/hero/hero-background-third-mobile@2x.jpg");
    }
  }
}

.hero__swiper-block {
  max-width: 1240px;
  min-width: 1240px;
  position: relative;
  z-index: 2;
  margin: 0 auto;

  @include vp-1199 {
    max-width: 1199px;
    min-width: 659px;
  }

  @include vp-767 {
    max-width: 767px;
    min-width: 290px;
  }
}

.hero__swiper-pagination {
  position: relative;
  bottom: 0;
  max-width: 94px;
  background-color: #fff;
  padding: 7px 16px 7px;
  border-radius: 20px 20px 0 0;
  display: flex;
  min-height: 38px;
  align-items: center;
  justify-content: space-between;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -20px;
    width: 20px;
    height: 20px;
    background-image: url("../img/svg/angle.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    transform: rotate(270deg);

    @include vp-767 {
      right: -10px;
      width: 10px;
      height: 10px;
      background-size: 10px 10px;
    }
  }

  @include vp-767 {
    padding: 2px 12px;
    max-width: 80px;
    border-radius: 12px 12px 0px 0px;
    min-height: 28px;
  }
}

.hero__swiper-pagination span {
  width: 10px;
  height: 10px;
  background-color: $color-default-white;
  border: solid 1px $color-light-blue;
  opacity: 1;

  @include vp-767 {
    width: 8px;
    height: 8px;
  }
}

.hero__swiper-pagination span.swiper-pagination-bullet-active {
  background-color: $color-light-blue;
}

.hero__heading-wrapper {
  background-color: $color-default-white;
  margin: 0;
  padding: 0;
  max-width: 968px;
  padding: 29px 50px 10px;
  border-radius: 0px 30px 30px 0px;
  min-height: 187px;
  display: flex;
  align-items: center;

  @include vp-1199 {
    padding: 30px 40px 20px;
    max-width: 97.1976401179941%;
    min-height: 136px;
  }

  @include vp-767 {
    padding: 20px 14px 10px;
    max-width: 100%;
    border-radius: 0px 16px 16px 0px;
    min-height: 134px;
  }
}

.hero__heading-wrapper h2 {
  margin: 0;
  padding: 0;
  font-size: 54px;
  line-height: 62px;
  font-weight: 400;
  color: $color-light-blue;
  max-width: 868px;

  @include vp-1199 {
    max-width: unset;
    font-size: 36px;
    line-height: 44px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 26px;
  }
}

.hero__slider-wrapper {
  margin: 0;
  padding: 0 50px 28px;
  position: relative;
  background-color: $color-default-white;
  max-width: 772px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-radius: 0px 0px 30px 30px;
  min-height: 89px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: -26px;
    width: 26px;
    height: 26px;
    background-image: url("../img/svg/angle.svg");
    background-repeat: no-repeat;
    background-size: 26px 26px;

    @include vp-767 {
      background-size: 10px 10px;
      width: 10px;
      height: 10px;
      right: -10px;
    }
  }

  @include vp-1199 {
    padding: 0 40px 32px;
    max-width: 87.1681415929204%;
    align-items: start;
  }

  @include vp-767 {
    padding: 0;
    flex-direction: column;
    border-radius: unset;
    max-width: 90%;
    background-color: transparent;
  }
}

.hero__text-wrapper {
  margin: 0;
  padding: 0;
  background-color: $color-default-white;
  max-width: 446px;

  @include vp-1199 {
    max-width: 55.773%;
  }

  @include vp-767 {
    max-width: 100%;
    padding: 0px 14px 11px 14px;
    border-radius: 0px 0px 14px 0px;
  }
}

.hero__text-wrapper p {
  margin: 0;
  padding: 0;
  line-height: 26px;

  @include vp-1199 {
    line-height: 20px;
  }

  @include vp-767 {
    line-height: 20px;
    font-size: 14px;
  }
}

.hero__button-wrapper {
  background-color: $color-default-white;
  max-width: 196px;

  @include vp-767 {
    max-width: 69.7318007662835%;
    width: 69.7318007662835%;
    padding: 10px 15px;
    border-radius: 0px 0px 14px 14px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: -10px;
      width: 10px;
      height: 10px;
      background-image: url("../img/svg/angle.svg");
      background-repeat: no-repeat;
      background-size: 10px 10px;
    }
  }
}
