.main-footer {
  width: 100%;
}

.main-footer__container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 30px 100px 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (max-width: 1300px) {
    padding-left: 5%;
    padding-right: 5%;
  }

  @include vp-1199 {
    max-width: 768px;
    padding: 30px 45px 50px;
  }

  @include vp-767 {
    max-width: 767px;
    padding: 15px 15px 40px;
    flex-direction: column;
  }
}

.main-footer__logo {
  @include vp-1199 {
    order: 1;
  }

  @include vp-767 {
    margin: 0 auto;
    margin-bottom: 14px;
  }
}

.main-footer__social-wrapper {
  margin-left: auto;

  @include vp-1199 {
    order: 4;
    margin-top: 25px;
  }

  @include vp-767 {
    margin: 0 auto;
  }
}

.main-footer__policy {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  width: 100%;
  margin-top: 25px;

  @include vp-1199 {
    font-size: 12px;
    line-height: 12px;
    flex-direction: column;
    max-width: 300px;
    order: 3;
  }

  @include vp-767 {
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 16px;
  }
}

.main-footer__policy span {
  display: block;
  margin: 0;
  padding: 0;

  @include vp-1199 {
    opacity: 0.6;
    order: 2;
  }

  @include vp-767 {
    margin: 0 auto;
    max-width: 100%;
  }
}

.main-footer__policy a {
  display: block;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid $color-dark-brown;

  &:hover {
    color: $color-light-blue;
    border-bottom: 1px solid $color-light-blue;
  }

  &:focus-visible {
    color: $color-light-blue;
    border-bottom: 1px solid $color-light-blue;
    outline: none;
  }

  &:active {
    color: rgba(39, 86, 153, 1);
    border-bottom: 1px solid rgba(39, 86, 153, 1);
  }

  @include vp-1199 {
    order: 1;
    margin-bottom: 10px;
    max-width: fit-content;
  }

  @include vp-767 {
    margin: 0 auto;
    margin-bottom: 12px;
    max-width: 100%;
  }
}
