.programs {
  width: 100%;
}

.programs__wrapper {
  max-width: 1440px;
  padding: 63px 6.9444444444% 60px;
  margin: 0 auto;

  @media (max-width: 1300px) {
    padding-left: 5%;
    padding-right: 5%;
  }

  @include vp-1199 {
    padding: 71px 0 50px 45px;
  }

  @include vp-767 {
    padding: 39px 15px;
  }
}

.programs__swiper-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.programs__swiper-wrapper h2 {
  margin: 0;
  padding: 0;
  margin-right: auto;
  color: $color-light-blue;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px; /* 100% */
  font-style: normal;

  @include vp-1199 {
    font-size: 34px;
    line-height: 50px;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 20px;
    order: 1;
  }
}

.programs__button {
  @include vp-1199 {
    margin-right: 45px;
  }

  @include vp-767 {
    margin: 0;
    order: 4;
    width: 70%;
  }
}

.programs__button span {
  @include vp-767 {
    text-align: center;
  }
}

.programs__swiper {
  margin: 42px 0 49px;
  padding: 0;

  @include vp-1199 {
    margin: 39px 0 49px;
  }

  @include vp-767 {
    order: 3;
    margin: 31px 0 30px;
  }
}

.programs__swiper-slide {
  border-radius: 12px;
  background-color: transparent;
  object-fit: cover;
  background-size: cover;
  width: 100%;
  height: initial;
  padding: 280px 20px 20px 20px;
  background-repeat: no-repeat;

  @include vp-1199 {
    padding: 285px 20px 20px 20px;
  }

  @include vp-767 {
    padding: 271px 10px 18px;
  }
}

.programs__swiper-slide--first {
  background-image: url("../img/programs/first-program-desktop.png");

  @include retina {
    background-image: url("../img/programs/first-program-desktop@2x.png");
  }

  @include vp-1199 {
    background-image: url("../img/programs/first-program-tablet.png");

    @include retina {
      background-image: url("../img/programs/first-program-tablet@2x.png");
    }
  }

  @include vp-767 {
    background-image: url("../img/programs/first-program-mobile.png");

    @include retina {
      background-image: url("../img/programs/first-program-mobile@2x.png");
    }
  }
}

.programs__swiper-slide--second {
  background-image: url("../img/programs/second-program-desktop.png");

  @include retina {
    background-image: url("../img/programs/second-program-desktop@2x.png");
  }

  @include vp-1199 {
    background-image: url("../img/programs/second-program-tablet.png");

    @include retina {
      background-image: url("../img/programs/second-program-tablet@2x.png");
    }
  }

  @include vp-767 {
    background-image: url("../img/programs/second-program-mobile.png");

    @include retina {
      background-image: url("../img/programs/second-program-mobile@2x.png");
    }
  }
}

.programs__swiper-slide--third {
  background-image: url("../img/programs/third-program-desktop.png");

  @include retina {
    background-image: url("../img/programs/third-program-desktop@2x.png");
  }

  @include vp-1199 {
    background-image: url("../img/programs/third-program-tablet.png");

    @include retina {
      background-image: url("../img/programs/third-program-tablet@2x.png");
    }
  }

  @include vp-767 {
    background-image: url("../img/programs/third-program-mobile.png");

    @include retina {
      background-image: url("../img/programs/third-program-mobile@2x.png");
    }
  }
}

.programs__content-wrapper {
  position: relative;
}

.programs__heading-wrapper {
  margin: 0;
  padding: 13px 10px 2px 18px;
  max-width: 194px;
  position: relative;
  background-color: $color-default-white;
  border-radius: 12px 12px 0px 0px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -18px;
    width: 18px;
    height: 18px;
    background-image: url(../img/svg/angle.svg);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }

  @include vp-1199 {
    max-width: 173px;
    padding-bottom: 1px;
  }

  @include vp-767 {
    max-width: 54.07407407407407%;
    padding: 18px 10px 6px 18px;
  }
}

.programs__heading-wrapper h3 {
  margin: 0;
  padding: 0;
  color: $color-light-blue;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  max-width: 170px;
  word-break: break-all;

  @include vp-1199 {
    font-size: 20px;
    line-height: 24px;
    max-width: 150px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 18px; /* 112.5% */
    max-width: 120px;
  }
}

.programs__text-wrapper {
  margin: 0;
  background-color: $color-default-white;
  padding: 10px 18px 15px;
  max-width: 321px;
  border-radius: 0px 12px 12px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 79px;

  @include vp-1199 {
    max-width: 263px;
    min-height: 77px;
    padding: 5px 18px 10px;
  }

  @include vp-767 {
    min-height: 69px;
    width: 100%;
    max-width: unset;
    padding: 8px 18px 10px;
  }
}

.programs__text-wrapper p {
  margin: 0;
  padding: 0;
  color: $color-dark-brown;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  max-width: 233px;

  @include vp-1199 {
    line-height: 20px;
    max-width: 181px;
  }

  @include vp-767 {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
  }
}

.programs__slider-button {
  width: 30px;
  height: 30px;
  background-color: #316dc2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  stroke: $color-default-white;
}

.programs__interactives-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;

  @include vp-1199 {
    padding-right: 45px;
  }

  @include vp-767 {
    margin: 0;
    padding: 0;
    width: fit-content;
    order: 2;
  }
}

.programs__swiper-scrollbar {
  width: 100%;
  max-width: 1134px;
  background: rgba(49, 109, 194, 0.2);
  height: 2px;

  @include vp-767 {
    display: none;
  }
}

.programs__swiper-scrollbar .swiper-scrollbar-drag {
  background-color: $color-light-blue;
  opacity: 1;
}

.programs__buttons-wrapper {
  display: flex;
  justify-content: space-between;
  width: 54px;
  height: 22px;

  @include vp-1199 {
    margin-left: 64px;
    width: 65px;
  }

  @include vp-767 {
    margin: 0;
    padding: 0;
    width: 52px;
    padding-top: 21px;
  }
}

.programs__swiper-button {
  position: relative;
  left: unset;
  right: unset;
  width: 22px;
  height: 22px;

  &::after {
    content: unset;
  }
}
